#board{ 
    background-image: url('./img/backgroundpng.jpg');
    border: 1px solid black;  
}
.board{
    display: flex;
    align-content: center;
    justify-content: center;
   
}

.control{
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.restart{
    width: 100px;
    height: 50px;
    border-radius: 10%;
    background-color: black;
    color: white;
}

.begin{
    width: 100px;
    height: 50px;
    border-radius: 10%;
    background-color: yellow;
    font-size: 14px;
}


body{
    background-color: rgb(1, 21, 27)
}
.keys{
    height: 200px;
    width: 200px;
}